# IDE
.idea/
*.iml

# Build - исключаем ВСЁ, кроме allure-results
target/
!target/allure-results/

# System
.DS_Store

# Tools (ВСЁ что в tools/)
tools/

# Logs
*.log
logs/

# Maven
dependency-reduced-pom.xml

# Test reports (кроме allure-results)
surefire-reports/
failsafe-reports/
test-output/
